.vscode/
Cloud/account.json
Cloud/dist/
Cloud/docs/output.pdf
Cloud/docs/images/data_flow.png

# Local .terraform directories
**/.terraform/*

*.tfstate
*.tfstate.*
crash.log
override.tf

# Include the example override
!example_override.tf

