.vscode/
cloud/account.json
cloud/dist/
docs/report.pdf
docs/images/data_flow.png

# Local .terraform directories
**/.terraform/*

*.tfstate
*.tfstate.*
crash.log
override.tf

# Include the example override
!example_override.tf

